@{
    ViewData["Title"] = "All Notes";
}
@model List<SharpNotes.Models.Note>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="list-group">
        @foreach (var note in Model)
        {
            <a href="/notes/@note.Id" class="list-group-item list-group-item-action p-4">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1">@note.Title</h2>
                    <small class="text-body-secondary">@note.Created</small>
                </div>
                <p class="my-2 text-start text-truncate">@note.Content</p>
            </a>
        }

    </div>
</div>
